@model  IEnumerable<DomainModels.Restaurant>
@{
    ViewBag.Title = "MVC Restaurents";
}

<h1>Welcom to MVC Restaurant</h1>
<hr />
<div class="container">
    <div class="row">
        @Html.ActionLink("Add New Restaurant", "Edit", null, new { @class = "btn btn-primary" })
    </div>

    @foreach (var r in Model)
    {
        <h2>@r.Name (@r.PostCode)</h2>
        @Html.ActionLink("Edit", "Edit", new { RestorantID=r.Id }, new { @class = "btn btn-default" })
        <br />
        <hr />

    }
    </div>